<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<title>商品页面</title>

		<link href="__INDEX__/assets/css/admin.css" rel="stylesheet" type="text/css" />
		<link href="__INDEX__/assets/css/amazeui.css" rel="stylesheet" type="text/css" />
		<link href="__INDEX__/basic/css/demo.css" rel="stylesheet" type="text/css" />
		<link type="text/css" href="__INDEX__/css/optstyle.css" rel="stylesheet" />
		<link type="text/css" href="__INDEX__/css/style.css" rel="stylesheet" />
		<script type="text/javascript" src="__INDEX__/basic/js/jquery-1.7.min.js"></script>
		<script type="text/javascript" src="__INDEX__/basic/js/quick_links.js"></script>
		<script type="text/javascript" src="__INDEX__/assets/js/amazeui.js"></script>
		<script type="text/javascript" src="__INDEX__/js/jquery.imagezoom.min.js"></script>
		<script type="text/javascript" src="__INDEX__/js/jquery.flexslider.js"></script>
		<script type="text/javascript" src="__INDEX__/js/list.js"></script>

	</head>

	<body>


		<!--顶部导航条 -->
		{include file="public/top"}
			<div class="listMain">

				<!--分类-->
			<div class="nav-table">
					   <div class="long-title"><span class="all-goods">全部分类</span></div>
					   <div class="nav-cont">
							<ul>
								<li class="index"><a href="#">首页</a></li>
                                <li class="qc"><a href="#">闪购</a></li>
                                <li class="qc"><a href="#">限时抢</a></li>
                                <li class="qc"><a href="#">团购</a></li>
                                <li class="qc last"><a href="#">大包装</a></li>
							</ul>
						    <div class="nav-extra">
						    	<i class="am-icon-user-secret am-icon-md nav-user"></i><b></b>我的福利
						    	<i class="am-icon-angle-right" style="padding-left: 10px;"></i>
						    </div>
						</div>
			</div>
				<ol class="am-breadcrumb am-breadcrumb-slash">
					<li><a href="{:url('index/index')}">首页</a></li>
					{volist name="cate_in" id="vo"}
					{if condition="$i eq 3"}
					<li class="am-active">
						<a href="{:url('goods/goodslist',array('goods_pid'=>$vo.cate_id))}">{$vo.cate_name}</a>
					</li>
					{else/}
					<li class="am-active">
						{$vo.cate_name}
					</li>
					{/if}
					{/volist}
				</ol>
				<script type="text/javascript">
					$(function() {});
					$(window).load(function() {
						$('.flexslider').flexslider({
							animation: "slide",
							start: function(slider) {
								$('body').removeClass('loading');
							}
						});
					});
				</script>
				<div class="scoll">
					<section class="slider">
						<div class="flexslider">
							<ul class="slides">
								<li>
									<img src="__INDEX__/images/01.jpg" title="pic" />
								</li>
								<li>
									<img src="__INDEX__/images/02.jpg" />
								</li>
								<li>
									<img src="__INDEX__/images/03.jpg" />
								</li>
							</ul>
						</div>
					</section>
				</div>

				<!--放大镜-->

				<div class="item-inform">
					<div class="clearfixLeft" id="clearcontent">

						<div class="box">
							<script type="text/javascript">
								$(document).ready(function() {
									$(".jqzoom").imagezoom();
									$("#thumblist li a").click(function() {
										$(this).parents("li").addClass("tb-selected").siblings().removeClass("tb-selected");
										$(".jqzoom").attr('src', $(this).find("img").attr("mid"));
										$(".jqzoom").attr('rel', $(this).find("img").attr("big"));
									});
								});
							</script>

							<div class="tb-booth tb-pic tb-s310">
								<a href="{__INDEX__/images/01.jpg}"><img src="__INDEX__/images/01_mid.jpg" alt="细节展示放大镜特效" rel="__INDEX__/images/01.jpg" class="jqzoom" /></a>

							</div>
							<ul class="tb-thumb" id="thumblist">
								{volist name="$goods_introduction.img" id="vo"}
								<li>
									<div class="tb-pic tb-s40">
										<a href="#"><img src="{$vo.url}" mid="{$vo.url}" big="{$vo.url}"></a>
									</div>
								</li>
								{/volist}
							</ul>
						</div>

						<div class="clear"></div>
					</div>

					<div class="clearfixRight">

						<!--规格属性-->
						<!--名称-->
						<div class="tb-detail-hd">
							<h1>	
								 {volist name="goods_introduction.keywords" id="vo"}
								 {$vo.keywords_name}
								 {/volist}
	          				</h1>
						</div>
						<div class="tb-detail-list">


							<!--各种规格-->
							<dl class="iteminfo_parameter sys_item_specpara">
								<dt class="theme-login"><div class="cart-title">可选规格<span class="am-icon-angle-right"></span></div></dt>
								<dd>
									<!--操作页面-->

									<div class="theme-popover-mask"></div>

									<div class="theme-popover">
										<div class="theme-span"></div>
										<div class="theme-poptit">
											<a href="javascript:;" title="关闭" class="close">×</a>
										</div>
										<div class="theme-popbod dform">
											<form class="theme-signin" name="loginform" action="" method="post">

												<div class="theme-signin-left">

													<div class="theme-options">
														<div class="cart-title number">数量</div>
														<dd>
															<input id="min" class="am-btn am-btn-default" name="" type="button" value="-" />
															<input id="text_box" name="" type="text" value="1" style="width:30px;" />
															<input id="add" class="am-btn am-btn-default" name="" type="button" value="+" />
															<span id="Stock" class="tb-hidden">库存<span class="stock">{$goods_introduction.goods_inventory}</span>件</span>
														</dd>

													</div>
													<div class="clear"></div>

													<div class="btn-op">
														<div class="btn am-btn am-btn-warning">确认</div>
														<div class="btn close am-btn am-btn-warning">取消</div>
													</div>
												</div>
												<div class="theme-signin-right">
													<div class="img-info">
														<img src="__INDEX__/images/songzi.jpg" />
													</div>
													<div class="text-info">
														<span class="J_Price price-now">¥39.00</span>
														<span id="Stock" class="tb-hidden">库存<span class="stock">1000</span>件</span>
													</div>
												</div>

											</form>
										</div>
									</div>

								</dd>
							</dl>
							<div class="clear"></div>
							<!--活动	-->
							<!-- <div class="shopPromotion gold">
								<div class="clear"></div>
							</div> -->
						</div>

						<div class="pay">
							<div class="pay-opt">
							<a href="home.html"><span class="am-icon-home am-icon-fw">首页</span></a>
							<a><span class="am-icon-heart am-icon-fw">收藏</span></a>
							
							</div>
							<li>
								<div class="clearfix tb-btn tb-btn-buy theme-login">
									<a id="LikBuy" title="点此按钮到下一步确认购买信息" href="#">立即购买</a>
								</div>
							</li>
							<li>
								<div class="clearfix tb-btn tb-btn-basket theme-login">
									<!-- <a id="LikBasket" title="加入购物车" href="{:url('user/info/addShopcart',Array('goods_id'=>$goods_introduction.goods_id))}"><i></i>加入购物车</a> -->
									<a href="javascript:if(confirm('确认加入购物车？')) addShopcart({$goods_introduction.goods_id})">加入购物车</a>
								</div>
							</li>
						</div>

					</div>

					<div class="clear"></div>

				</div>

				<!--优惠套装-->
				<div class="clear"></div>
				
							
				<!-- introduce-->

				<div class="introduce">
					<div class="browse">
					    <div class="mc"> 
						     <ul>					    
						     	<div class="mt">            
						            <h2>看了又看</h2>        
					            </div>
						     	

					      
						     </ul>					
					    </div>
					</div>
					<div class="introduceMain">
						<div class="am-tabs" data-am-tabs>
							<ul class="am-avg-sm-3 am-tabs-nav am-nav am-nav-tabs">
								<li class="am-active">
									<a href="#">

										<span class="index-needs-dt-txt">宝贝详情</span></a>

								</li>

								<li>
									<a href="#">

										<span class="index-needs-dt-txt">全部评价</span></a>

								</li>

								<li>
									<a href="#">

										<span class="index-needs-dt-txt">猜你喜欢</span></a>
								</li>
							</ul>

							<div class="am-tabs-bd">

								<div class="am-tab-panel am-fade am-in am-active">
									<div class="J_Brand">

										<div class="attr-list-hd tm-clear">
											<h4>产品参数：</h4></div>
										<div class="clear"></div>
										<ul id="J_AttrUL">
											{volist name="goods_introduction.goodsproperty" id="vo"}
											<li title="">{$vo.property_name}:&nbsp;{$vo.goodsproperty_content}</li>
											{/volist}
										</ul>
										<div class="clear"></div>
									</div>

									<div class="details">
										<div class="attr-list-hd after-market-hd">
											<h4>商品细节</h4>
										</div>
										<div class="twlistNews">
										{volist name="goods_introduction.img" id="vo"}
											<img src="{$vo.url}" />
										{/volist}
										</div>
									</div>
									<div class="clear"></div>

								</div>

								<div class="am-tab-panel am-fade">
									

                                    <div class="clear"></div>

									<div class="clear"></div>



									<div class="clear"></div>

									<!--分页 -->
									<ul class="am-pagination am-pagination-right">

									</ul>
									<div class="clear"></div>

									<div class="tb-reviewsft">
										<div class="tb-rate-alert type-attention">购买前请查看该商品的 <a href="#" target="_blank">购物保障</a>，明确您的售后保障权益。</div>
									</div>

								</div>

							</div>

						</div>

						<div class="clear"></div>


					</div>

				</div>
			</div>


	</body>
	<script type="text/javascript">
		function addShopcart(goods_id){
			$.ajax({
				type:'post',
				data:{goods_id,goods_id},
				url:"{:url('user/info/addshopcart')}",
				success:function(data){
					if (data.code=='0') {
						alert(data.msg);
						window.location.href=data.url;
					}
					else{
						alert('加入购物车成功！');
					}
				}
			})
			// alert(goods_id);
		}
	</script>

</html>