<ul class="layui-nav layui-nav-tree"  lay-filter="test">
    <li class="layui-nav-item"><a href="http://flyin.yuzhiwei.com.cn/public/index.php/admin/wxapply/index">微信报名</a></li>
    <li class="layui-nav-item">
        <a href="javascript:;">管理员管理</a>
        <dl class="layui-nav-child">
            <dd><a href="{:url('admin/adminlist')}"> 管理员列表</a></dd>
            <dd><a href="{:url('admin/add')}"> 添加管理员</a></dd>
        </dl>
    </li>

    <li class="layui-nav-item">
        <a class="" href="javascript:;">分类管理 </a>
        <dl class="layui-nav-child">
            <dd><a href="{:url('cate/catelist')}">分类列表</a></dd>
            <dd><a href="{:url('cate/add')}">分类添加</a></dd>

        </dl>
    </li>

    <li class="layui-nav-item">
        <a class="" href="javascript:;">商品(图片)管理</a>
        <dl class="layui-nav-child">
            <dd><a href="{:url('goods/goodslist')}">商品列表</a></dd>
            <dd><a href="{:url('goods/add')}">商品添加</a></dd>

        </dl>
    </li>

    <li class="layui-nav-item">
        <a class="" href="javascript:;">关键字管理</a>
        <dl class="layui-nav-child">
            <dd><a href="{:url('keywords/keywordslist')}">关键字列表</a></dd>
            <dd><a href="{:url('keywords/add')}">关键字添加</a></dd>
        </dl>
    </li>


    <li class="layui-nav-item">
        <a class="" href="javascript:;">属性管理</a>
        <dl class="layui-nav-child">
            <dd><a href="{:url('property/propertylist')}">属性列表</a></dd>
            <dd><a href="{:url('property/add')}">属性添加</a></dd>
        </dl>
    </li>
</ul>