<blockquote class="layui-elem-quote layui-text">
	添加关键字
</blockquote>

<form class="layui-form layui-form-pane" action="{:url('keywords/addhanddle')}" method="post">

	<div class="layui-form-item">
		<label class="layui-form-label">关键字名称</label>
		<div class="layui-input-block">
			<input type="text" id="keywords_name" name="keywords_name" placeholder="请输入关键字名称" class="layui-input">
		</div>
	</div>

	<div class="layui-form-item">
		<button type="submit" class="layui-btn">添加关键字</button>
		<button type="reset" class="layui-btn">重置</button>
	</div>

</form>