
<form class="form-horizontal" role="form" action="" method="post">
	<div class="form-group">
		<label class="col-sm-3 control-label no-padding-right" for="keywords_name"> 关键字名称 </label>

		<div class="col-sm-9">
			<input id="keywords_name" name="keywords_name" placeholder="请输入关键字名称" class="col-xs-10 col-sm-5" type="text">
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-3 control-label no-padding-right" for="password"> 请输入密码 </label>

		<div class="col-sm-9">
			<input id="password" name="password" placeholder="请输入密码" class="col-xs-10 col-sm-5" type="text">
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-3 control-label no-padding-right" for="password1"> 请再一次输入密码 </label>

		<div class="col-sm-9">
			<input id="password1" name="password1" placeholder="请再次输入密码" class="col-xs-10 col-sm-5" type="text">
		</div>
	</div>

	<div class="space-4"></div>

	<div class="clearfix form-actions">
		<div class="col-md-offset-3 col-md-9">
		<input type="submit" name="" value="添加关键字" class="btn btn-info">
		<input type="reset" name="" value="重置" class="btn">
		</div>
	</div>

</form>
