<blockquote class="layui-elem-quote layui-text">
	图片列表
</blockquote>


<a class="green" href="{:url('goods/add')}">
	<i style="color: #ac4941" class="fa fa-plus-square" aria-hidden="true"></i>添加图片
</a>


<div class="layui-inline">
	<div class="layui-input-block">
	<select onchange=mbar(this) name="select" class="layui-select">
		<option selected>分类选择</option>
		{volist name="cate_list1" id="vo1"}
		<option value="{$vo1.cate_name}"  disabled="">【{$vo1.cate_name}】</option>
		{volist name="vo1.children" id="vo2"}
		<option value="{$vo2.cate_name}"disabled="">&nbsp;&nbsp;&nbsp;&nbsp;{$vo2.cate_name}</option>
		{volist name="vo2.children" id="vo3"}
		<option value="{:url('goods/goodslist',array('goods_pid'=>$vo3.cate_id))}" >&nbsp;&nbsp;&nbsp;&nbsp;-- --{$vo3.cate_name}</option>
		{/volist}
		{/volist}
		{/volist}
	</select>
	</div>
</div>



<table  class="layui-table">
	<thead>
		<tr>
			<th>ID</th>
			<th>商品名称</th>
			<th>缩略图</th>
			<th>商品状态</th>
			<th>所属分类</th>
			<th>关键字</th>
			<th>操作</th>
			</tr>
	</thead>
	<tbody>
	{volist name="goods_info" id="vo"}
		<tr>
			<td>
				<a href="#">{$vo.goods_id}</a>
			</td>
			<td>{$vo.goods_name}</td>
			<td><img src="{$vo.goods_thumb}" width="100"></td>
			<td>
			{if condition="$vo.goods_status eq 1"}
				已上架
			{else/}
				未上架
			{/if}</td>
			<td class=" ">
				{$vo.cate_name}
			</td>
			<td class=" ">
				{volist name="vo.keywords" id="vo1"}
				{$vo1.keywords_name}
				<a class="red" href="javascript:if(confirm('确认删除？')) location='{:url('goods/keywordsdelhanddle',array('goods_id'=>$vo.goods_id,'keywords_name'=>$vo1.keywords_name))}'">
					<i style="color: #ac3100" class="fa fa-trash" aria-hidden="true"></i>
				</a><br/>
				{/volist}
				<form method="post" action="{:url('goods/keywordsaddhanddle')}">
					<input type="text" name="{$vo.goods_id}" placeholder="请输入关键字" autocomplete="off">
					<!--<input type="submit" name="" value="添加关键字" class="btn btn-info btn-xs">-->
					<button type="submit" class="layui-btn layui-btn-primary layui-btn-xs">添加关键字</button>
				</form>
			</td>
			<td>
				<div class="visible-md visible-lg hidden-sm hidden-xs action-buttons">
					<a class="green" href="{:url('goods/upd',array('goods_id'=>$vo.goods_id))}">
						<i style="color: #60ac6d" class="fa fa-pencil"></i>
					</a>

					<a class="red" href="javascript:if(confirm('确认删除？')) location='{:url('goods/del',array('goods_id'=>$vo.goods_id))}'">
						<i style="color: #ac3100" class="fa fa-trash" aria-hidden="true"></i>
					</a>

					<a class="green" href="{:url('goods/addproperty',array('goods_id'=>$vo.goods_id))}">
						<i style="color: #60ac6d" class="fa fa-pencil"></i>
					</a>
				</div>
			</td>
		</tr>
		{/volist}
	</tbody>
</table>
<div>{$show}</div>
<!-- </form> -->


		<!-- inline scripts related to this page -->
		<script type="text/javascript">
			$(function(){
				var input = $("input");
				$.each(input,function(i,v){
					var $html = $("<ul class='autocomplete'></ul>").hide().insertAfter(v);
					//定义一个html标签
					$(v).keyup(function(){
						var val = $(v).val();
				        $.ajax({
				        	url:'{:url("goods/keywordsajax")}',//后台地址
				        	type:"post",
				        	data:{'val':val},//参数 把文本框的值传到后台
				        	dataType:'json',
				        	success: function(data){
				         		if(data.length){
				         			$html.empty();
				         			$.each(data,function(index,tem){
				         				var text=$(v).val();
				         				$("<li></li>").text(tem.keywords_name).appendTo($html)
				         				.mouseover(function(){
				         					$(this).css("background","green");
				         					})
				         				.mouseout(function(){
				         					$(this).css("background","yellow");
				         					})
				         				.click(function(){
				         					$(v).val(tem.keywords_name);
				         					$html.hide();
				         					});
				         				})
				         			$html.show();
				     			}
				     		}
				     	})
					});

				})
			})
		</script>



		<script type="text/javascript">
			//下拉筛选
			function mbar(sobj){
				var docurl =sobj.options[sobj.selectedIndex].value;
				if (docurl != "") {
		//            open(docurl,'_blank');
					open(docurl,'_self');
					sobj.selectedIndex=0;
					sobj.blur();
				}
			}
		</script>